/***Global***/
body {
    margin: 0;
    background-color: #150578;
    font-family: 'Catamaran', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.container{
    padding: 0 10px;
}

h2 {
    color: white;
    font-size: 26px;
    margin: 20px 0;
    padding: 0 10px;
    line-height: 38px;
}

/***Header***/
/*whole nav bar*/
#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0E0E52;
    height: 65px;
    font-size: 16px;
}

.nav-bar-unauth { /*padding for sign out + login*/
    padding: 0 10px;
}

.nav-bar-auth{
    padding: 0;
}

#nav-bar a {
    color: white;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content:center;
}

#nav-bar li:not(#nav-bar-username) {
    height: 65px;
}

/*individual bars*/
#user-bar,
#set-bar{
    height: 100%;
}

#set-bar > ul,
#user-bar > ul {
    display: flex;
    list-style:none;
    padding:0;
    align-items: center;
    margin:0;
}

#set-bar>ul>li>a{
    text-decoration: none;
}

#nav-bar-username{
    display: none;
}

/*Individual nav buttons*/
#set-bar>ul>li:first-of-type{ /*Sets*/
    width: 55px;
}

#set-bar>ul>li:last-of-type{ /*Subject*/
    width: 75px;
}

#sign-in-button{
    width: 70px;
}

#register-button{
    width: 70px;
}

#your-sets-button{ /*Your Sets*/
    width: 80px;
}

#sign-out-button { /*Sign out*/
    background-color: #c64040;
    border: none;
    font-family: 'Catamaran', sans-serif;
    color: white;
    font-size: 16px;
    height: 64px;
    cursor: pointer;
}



/***----Index ----***/
/*-Header-*/
#set-list-header{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

#set-list-header>a{
    height: 40px;
}

#add-set-icon{
    width: 40px;
    margin-right:10px;
}

/*-General list-*/
#set-list {
    padding: 0;
    margin-top: 0;    
}

.set {
    list-style: none;
    height: 70px;
    position: relative;
    padding: 0 10px;
}

#set-list > .set:nth-of-type(2n+1) {
    background-color: #192BC2;
}

#set-list > .set:nth-of-type(2n) {
    background-color: #449DD1;
}

.set div{
    text-decoration: none;
    color: white;
}

/*-Individual Set Layout-*/
.set-main{
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.set-secondary{
    height: 40%;
}

.set-name {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
    display: inline-block;
    font-size:20px;
    position:relative;
    top: 2px;
}

.set-card-count {
    width: 50px;
    text-align: right;
    display: inline-block;
    font-size: 13px;
    position:relative;
    top: 3px;
}

.set-username{
    position: relative;
    left: 24px;
    bottom: 4px;
    font-size: 13px;
}
.set-username::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url("../img/user.svg");
    position: absolute;
    left: -24px;
    bottom: 3px;
}

/***---Subjects---***/
#subject-section {
    border-radius: 2px;
}

#subject-section > h2 {
    color: white;
}

#subject-list {
    list-style: none;
    padding-left: 0;
}

.subject:nth-of-type(2n+1) {
    background-color: #192BC2;
}

.subject:nth-of-type(2n) {
    background-color: #449DD1;
}

.subject {
    height: 60px;
    text-align: center;
}

.subject > a {
    cursor: pointer;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    color: white;
}




/*Tablet breakpoint*/
@media(min-width:600px){
    h2{
        margin: 30px 0;
        padding: 0 20px;
    }
    #nav-bar-username {
        color: rgb(192, 255, 180);
        display: block;
        margin-right: 5px;
        text-transform: capitalize;
        font-weight: bold;
        letter-spacing: 0.5px;
    }

    .set,
    .subject,
    .set>a,
    .subject>a{
        height: 80px;
    }

    #set-list-header{
        padding-right:20px;
    }

    .subject{
        font-size: 18px;
    }


    #set-bar > ul > li:first-of-type { /*Sets*/
        width: 80px;
    }

    #set-bar > ul > li:last-of-type, /*Subject*/
    #your-sets-button,
    #sign-in-button,
    #register-button,
    #sign-out-button{ /*Sign out*/    
        width: 100px;
    }    
}





@media(min-width: 1200px){

    /*general*/
    h2{      
        margin: 65px 0;
        font-size: 42px;
    }

    h2,
    #set-list,
    #subject-list{
        padding: 0 110px;
    }

    /*nav bar*/
    #nav-bar li:not(#nav-bar-username),
    #nav-bar,
    #nav-bar a{
        height: 85px;
    }

    #nav-bar{
        font-size:18px;
    }

    #nav-bar button{
        height: 85px;
        font-size: 18px;
    }

    .nav-bar-unauth,
    .nav-bar-auth{
        padding: 0 110px;
    }

    #set-bar > ul > li:last-of-type, /*Subject*/
    #your-sets-button,
    #register-button,
    #sign-in-button,
    #sign-out-button { /*Sign out*/
        width: 120px;
    }  

    /*set/subject list*/
    #set-list-header{
        margin-bottom:25px;
    }

    #subject-section>h2{
        margin-bottom: 90px;
    }

    #add-set-icon{
        width:70px;
        height:70px;
        margin-right: 108px;
    }

    #set-list,
    #subject-list{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-between;
    }

    .set,
    .subject{
        width:49.78%;
        margin-bottom: 5px;
        height: 90px;   
        padding:0;
    }

    .set > a,
    .subject > a {
        height: 90px;
        padding: 0 20px;
    }

    .set > a {
        display: block;
    }       

    #set-list > .set:nth-of-type(4n),
    #subject-list > .subject:nth-of-type(4n),
    #set-list > .set:nth-of-type(4n+1),
    #subject-list > .subject:nth-of-type(4n+1) {
        background-color: #192BC2;
    }

    #set-list > .set:nth-of-type(4n+3),
    #subject-list > .subject:nth-of-type(4n+3) {
        background-color: #449DD1;
    }

    .set-name{
        font-size: 22px;
        top: 5px;
    }

    .set-username{
        font-size:16px;
        bottom: 2px;
    }

    .set-username::before{
        bottom: 4px;
    }

    .set-card-count{
        width: 60px;
        font-size:18px;
    }

    #set-bar > ul > li:first-of-type { /*Sets*/
        width: 100px;
    }

    .subject{
        font-size:18px;
    }
}






@media(min-width:1600px){
    #set-list,
    #subject-list,
    h2{
        padding: 0 160px;
    }

    h2{
        margin: 65px 0;
        font-size: 42px;
    }

    #nav-bar{
        padding: 0 160px;
    }

    #add-set-icon{
        margin-right: 158px;
    }
    .set,
    .subject{
        width: 33.25%;
        height: 110px;
        margin-bottom: 3px;
    }

    .set > a,
    .subject > a {
        height: 110px;
        padding: 0 25px;
    }

    #set-list > .set:nth-of-type(2n+1),
    #subject-list > .subject:nth-of-type(2n+1) {
        background-color: #192BC2;
    }

    #set-list > .set:nth-of-type(2n),
    #subject-list > .subject:nth-of-type(2n) {
        background-color: #449DD1;
    }
}

@media(min-width:1800px){
    #set-list,
    #subject-list,
    h2 ,
    #nav-bar{
        padding: 0 260px;
    }

    #add-set-icon {
        margin-right: 258px;
    }
}