
/***--Styles--***/
#showset-container{
    padding: 0 10px;
    color:white;
}

#showset-title{
    margin: 40px 0;
}

#test-button {
    display: block;
    margin-bottom: 10px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: rgb(109, 176, 206);
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 0.2px;
    border-radius: 2px;
    border: 1px solid rgb(203, 203, 221);
}

#showset-description {
    display: none;
    background-color: RGB(25, 43, 194);
    padding: 10px;
    border-radius: 6px;
    position: relative;
}

#showset-description>h4{
    margin: 0 0 10px;
    font-size:18px;
    position:relative;
}

#close-description-button {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    width: 30px;
    text-align: center;
    z-index: 100;
    font-size: 18px;
    border-radius: 2px;
}

#showset-description-show {
    text-align: center;
    border: 1px solid rgba(198,196,196,0.5);
    background-color: RGB(25, 43, 194);
    height: 32px;
    line-height: 34px;
    border-radius: 2px;
    margin-bottom: 40px;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
}

#card-container {
    list-style: none;
    padding: 0;
    color: #231c1c;
}

.card-unit{
    background-color: white;
    position: relative;
}

.card-back,
.card-front {
    height: 100px;
    text-align: center;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

.card-front {
    border-bottom: 1px solid rgba(132, 111, 111, 0.56);
}

/*Margin applied if user is auth (to accom operations box)*/
.owner-card{
    margin-bottom: 51px;
}

.non-owner-card{
    margin-bottom: 10px;
}

/*User only features*/
#set-operations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.showset-button {
    display: inline-block;
    color: white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid rgba(245, 245, 245, 0.27);
    width: 32%;
}

#edit-set-button {
    color: white;
    background-color: #192BC2;
}

#delete-set-button {
    background-color: rgb(198, 64, 64);
    border: 1px solid crimson;
    font-family: 'Catamaran', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

#add-card-button { 
    background-color: rgb(101, 200, 109);
    color: white;
}

.card-operations {
    position: absolute;
    bottom: -40px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: lightblue;
}

.edit-card-button {
    width: 60px;
    color: rgb(44, 35, 35);
    justify-content: center;
    align-items: center;
}

.delete-card-button {
    color: red;
    width:80px;
    justify-content: center;
    align-items: center;
}

@media(min-width:600px){
    #showset-title{
        padding:0;
        margin: 40px 0 50px;
    }
    #showset-container{
        width: 603px;
        margin: 0 auto;
    }

    #showset-description {
        padding: 20px 38px;
    }

    .card-front,
    .card-back{
        height: 120px;
        font-size: 18px;
    }

}

@media(min-width: 1200px) {
    #showset-title {
        margin: 70px 0;
    }

    .card-front,
    .card-back {
        height: 185px;
        font-size: 19px;
    }

    .edit-card-button,
    .delete-card-button{
        font-size: 17px;
    }
}

@media(min-width: 1600px) {
    #showset-title {
        margin: 90px 0 60px;
    }

    #showset-container {
        width: 1300px;
    }

    .showset-button{
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }

    #card-container {
        margin-top: 40px;
    }

    #desktop-flex {
        display: flex;
        justify-content: space-between;
    }

    #desktop-flex > a,
    #desktop-flex > div,
    .card-unit {
        display: block;
        width: 49.5%;
    }

    #showset-description-show,
    #test-button {
        margin: 0;
    }

    #showset-description-show {
        height: 55px;
        font-size: 20px;
    }

    #card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

