#showset-container{
    padding: 0 10px;
    color:white;
}


#test-button {
    display: block;
    margin-bottom: 10px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: rgb(109, 176, 206);
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 0.2px;
    border-radius: 2px;
}

#showset-description {
    display: none;
    background-color: RGB(25, 43, 194);
    padding: 10px;
    border-radius: 6px;
    position: relative;
}

#showset-description>h4{
    margin: 0 0 10px;
    font-size:18px;
    position:relative;
}

#close-description-button {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    width: 18px;
    text-align: center;
    z-index: 100;
    font-size: 18px;
}

#showset-description-show {
    text-align: center;
    border: 1px solid rgba(198,196,196,0.5);
    background-color: RGB(25, 43, 194);
    height: 32px;
    line-height: 34px;
    border-radius: 2px;
    margin-bottom: 40px;
    cursor: pointer;
}

#card-container {
    list-style: none;
    padding: 0;
    color: #231c1c;
}

.card-unit{
    background-color: white;
    position: relative;
}

.card-back,
.card-front {
    height: 80px;
    text-align: center;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

.card-front {
    border-bottom: 1px solid rgba(132, 111, 111, 0.56);
}

/*Margin applied if user is auth (to accom operations box)*/
.Auth-Card{
    margin-bottom: 37px;
}

.Unauth-card{
    margin-bottom: 37px;
}

/*User only features*/
#set-operations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

#set-operations a {
    display: inline-block;
    color: white;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid rgba(245, 245, 245, 0.27);
}


#edit-set-button {
    color: white;
    background-color: #192BC2;
    width: 85px;
}

#delete-set-button {
    background-color: rgb(198, 64, 64);
    border: 1px solid crimson;
    font-family: 'Catamaran', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 16px;
    width: 95px;
}

#add-card-button { 
    background-color: rgb(101, 200, 109);
    color: white;
    width: 80px;
}

.card-operations {
    position: absolute;
    bottom: -27px;
    display: flex;
    justify-content: center;
    width: 100%;
    background: lightblue;
}

.edit-card-button {
    margin-right: 30px;
    color: rgb(44, 35, 35);
}

.delete-card-button{
    color:red;
}


