@model Cards.ViewModels.IndexSubjectViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div> 
    <ul>
        @foreach (var subj in Model.Subjects)
        {
            <li><a href="@Url.Action("ShowSubject", "Subjects", new {SubjectId = subj.SubjectId})">@subj.Name</a> (@subj.SetCount Available)</li>
        }
    </ul>
</div>
