@model Cards.ViewModels.ShowSubjectViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div> 
    <ul id="subject-set-container">
        @foreach (var set in Model.Subject.Sets)
        {
            <li class="subject-set"><a href="@Url.Action("ShowSet", "Sets", new {SetId = set.SetId})">@set.Name</a></li>
        }
    </ul>
</div>

