@model Cards.ViewModels.AddSetViewModel


@{
    ViewBag.Title = "AddSet";
}

<h2>AddSet</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Set.Name)
        @Html.TextBoxFor(m => m.Set.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Set.Description)
        @Html.TextBoxFor(m => m.Set.Description)
    </div>
    <input type="submit" />
}

