@model Cards.ViewModels.TestViewModel

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="test-card">
    <div class="test-card-inner">
        <div class="test-card-front unflip-front">
            @Model.Set.Cards[0].Front
        </div>
        <div class="test-card-back unflip-back">
            @Model.Set.Cards[0].Back
        </div>
    </div>
</div>
<div class="test-btn-container">
    <div class="back-btn">Back</div>
    <div class="fwd-btn">Forward</div>
</div>
<script>

    
</script>
